.nav-link {
  color: white;
}

/* .navbar {
  background-color: #D4C5A5;
} */
li{
  margin: 10px 20px;
}
.bg-dark {
  background-color: #364059 !important;
}
.dropdown-menu{
  background-color: #364059 !important;
  color:white;  
}